/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
}



h1{
    font-weight: 700;
    font-size: 48px;
}
span{
    color: #E76F51 ;
}
.btn-color{
    color: white;
    background: #E76F51;

}
.banner-bg{
    background: #264653;

}
.banner-description{
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    color: #E0E0E0;
}

.feature-text{
    color: #E76F51;
}
.grayscale{
    filter: grayscale(100%);
}


.lead{
    color:#6C6C6C;
}
.fa-star{
    color: #E77C40;
}

.partnar-bg{
    background: linear-gradient(to bottom, #264653 0%, #000000 100%)
}